body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*AGGIUNTO DA IRE PER LA NAVBAR*/
/* Colore blu scuro della navbar */
.bg-dark-blue {
  background-color: #051233 !important; /* Colore blu scuro */
}

/* Colore blu chiaro per le voci di menu */
.text-light-blue {
  color: #ffffff !important; /* Colore blu chiaro */
}

/* Modifica il logo: altezza massima e margine */
.logo {
  height: 50px; /* Altezza del logo */
  margin-right: 10px; /* Spazio tra logo e menu */
}
/*
!* Stile personalizzato per il bottone Accedi *!
.btn-light-gray {
  background-color: #d3d3d3; !* Grigio chiaro *!
  color: black; !* Testo bianco *!
  border: none; !* Rimuove il bordo *!
}

!* Cambia colore al passaggio del mouse *!
.btn-light-gray:hover {
  background-color: #c0c0c0; !* Grigio leggermente più scuro *!
  color: black; !* Mantiene il testo bianco *!
}*/
/* Aggiungi effetto hover per le voci del menù ...FORSE DA TOGLIERE*/
.nav-item:hover {
  background-color: #526492; /* Blu chiaro */
  border-radius: 5px; /* Rende i bordi arrotondati */
}
/* aggiungi la sottolineatura al passaggio del mouse (testo) */
.nav-link:hover {
  text-decoration: underline; /* Aggiunge la sottolineatura */
}

/* per il footer*/
.fab {
  font-size: 30px; /* Puoi cambiare la dimensione  */
}
.fab:hover {
  color: #526492; /* Colore che appare al passaggio del mouse sopra le icone dei social */
}
.search{

  margin-bottom: 1.5rem !important;
  margin-top: 1.5rem !important;
}
.filter{
  width: 20px;
  height: 20px;
}
.img-search{
  width: 20px;
  height: 20px;
}
.search-container {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}
.filter img, .img-search {
  width: 20px;
  height: 20px;
}
.filters {
  display: none; /* I filtri sono inizialmente nascosti */
  margin-top: 15px;
}

/*per il filtra di film*/
.btn btn-primary{
  background-color: #526492 !important;
}

/*per il form di registrazione*/
.login-bg{
  background: #051233; /*030d28*/
  background: linear-gradient(180deg, #030d28 0%, #212529 100%);
  height: 750px !important;
}

.login{
  padding:20px;
  background-color: #F5F5F5;
  margin: 5%;
  width: 25% !important;
  border-radius: 10px;
  height: 60%;
}
.myForm{
  padding: 5%;
}
.centerText{
  text-align: center;
}
